.right {
    width: 50%;
    padding-right: 4%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-top: 2%;
    background-color: #2C3333;
    padding-bottom: 2%;
    border-radius: 0px 0px 4px 0px;
}

.notes {
    width: 100%;
    padding-left: 0.4rem;
    height: 60px;
    background-color: white;
}

#category {
    background-color: orange;
    text-align: center;
    padding-block: 0.4rem;
    border-radius: 3px;
    padding-inline: 0.7rem;
    float: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}